asgiref==3.7.2
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
cryptography==41.0.4
Django==4.2.5
django-bootstrap-v5==1.0.11
django-bootstrap5==23.3
gunicorn==21.2.0
idna==3.4
lxml==4.9.3
ntlm-auth==1.5.0
psycopg2-binary==2.9.7
pycparser==2.21
PyYAML==6.0.1
requests==2.31.0
requests-ntlm==1.2.0
requests-toolbelt==1.0.0
Office365-REST-Python-Client
soupsieve==2.5
sqlparse==0.4.4
urllib3==2.0.5
django-crispy-forms
crispy-bootstrap5
pandas
fontawesomefree==6.4.2
django-widget-tweaks
