{% extends "base_logged_in.html" %}
{% block content %}
    {{ formset.errors }}
        {{ formset.non_field_errors }}
        {{ form.errors }}
        {{ form.non_field_errors }}
        <div class="container">
            <form method="post">
                {% csrf_token %}
                    <legend>
                        <h1>Upload patch file</h1>
                    </legend>
                    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Patch file</label>
                        <input class="form-control" type="file" id="formFile">
                      </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary" id=btnSubmit>
                            Upload
                        </button>
                    </div>

            </form>
        </div>
{% endblock %}
