{% extends "base_logged_in.html" %}
{% block content %}

{% load crispy_forms_tags %}

    {{ formset.errors }}
    {{ formset.non_field_errors }}
    {{ form.errors }}
    {{ form.non_field_errors }}
    <div class="container">
        <div class="container my-5">
            <form action="" method="post">
              {% csrf_token %}
              {{ form.projectID }}
              <legend class="text-center">
                <h1>Create Channel List</h1>
              </legend>
              {% if error_message %}
              <p class="text-danger text-center">{{ error_message }}</p>
              {% endif %}
              <div class="form-group">
                <label for="{{ form.channel_list_name.id_for_label }}">Channel List Name:</label>
                {{ form.channel_list_name }}
              </div>
              <div class="form-group">
                <label for="{{ form.mixerID.id_for_label }}">Project ID:</label>
                {{ form.mixerID }}
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary" id="btnSubmit">Update</button>
              </div>
            </form>
          </div>
          
    </div>
        

{% endblock %}