{% extends "base_logged_in.html" %}
{% block content %}


  {% load crispy_forms_tags %}



    {{ formset.errors }}
    {{ formset.non_field_errors }}
    {{ form.errors }}
    {{ form.non_field_errors }}

    <div class="container">
        <legend class="text-center">
            <h1>Edit channellist</h1>
          </legend>
        <div class="row">
            <div class="col-sm-6">
                <fieldset class="form-group">
                    <form action="" method="post">
                      <input type="hidden" name="job_nr" value="{{ job_nr }}">
                      <input type="hidden" name="projectID" value="{{ job_nr }}">
                      <input type="hidden" name="channel_list_ID" value="{{ channel_list_ID }}">
                      {% csrf_token %}
                      {{ form.projectID }}
                      {% if error_message %}
                      <p class="text-danger text-center">{{ error_message }}</p>
                      {% endif %}
                      <div class="row mb-3">
                        <div class="form-check">
                            <label for="{{ form.Name.id_for_label }}" class="col-sm-4">Channellist name:</label>
                            <div class="col-sm-20">
                                {{ form.Name | as_crispy_field }}
                            </div>
                            
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="form-check">
                            <label for="{{ form.mixerID.id_for_label }}" class="col-sm-4">Mixer:</label>
                            <div class="col-sm-20">
                                {{ form.mixerID | as_crispy_field }}
                            </div>
                            
                        </div>
                      </div>
                        <button type="submit" class="btn btn-primary" id="btnSubmit">Update</button>
                    </fieldset>
                    </form>
              </div>
              
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                      <h3 class="text-center">Job information</h3>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        Job name: {{ job_data.JOB_NAME }}
                      </li>
                      <li class="list-group-item">
                        Address: {{ job_data.ADDRESS }}
                      </li>
                      <li class="list-group-item">
                        Customer: {{ job_data.COMPANY }}
                      </li>
                      <li class="list-group-item">
                        Start date: {{ job_data.JOB_DATE}}
                      </li>
                      <li class="list-group-item">
                          End date: {{ job_data.JOB_END}}
                      </li>
                      <li class="list-group-item">
                          Venue: {{ job_data.VENUE}}
                      </li>
      
                    </ul>
                  </div>
            </div>
        </div>

        
          <table class="table table-striped table-hover">
            <!-- table header -->
            <thead>
              <tr>
                <th>Console Channel</th>
                <th>Stage Input</th>
                <th>Instrument</th>
                <th>Mic/DI</th>
                <th>48V</th>
                <th>Musician</th>
                <th>Notes</th>
                <th>Actions</th>
              </tr>
            </thead>
            <!-- table body -->
            <form method="post">
            {% csrf_token %}
            <input type="hidden" name="job_nr" value="{{ job_nr }}">
            <input type="hidden" name="channel_list_ID" value="{{ channel_list_ID }}">
            <tbody>
              {% for form in formset %}
                <tr>
                  <td>{{ form.console_channel }}</td>
                  <td>{{ form.stage_input }}</td>
                  <td>{{ form.instrument }}</td>
                  <td>{{ form.mic_di }}</td>
                  <td></td>
                  <td>{{ form.musician }}</td>
                  <td>{{ form.notes }}</td>
                  <td>
                    <button type="submit" class="btn btn-primary" name="channel_list_input_pk" value="{{ form.instance.pk }}">Update</button>                 
                  </td>
                </tr>
              {% endfor %}
            </form>
            </tbody>
          </table>
        </form>
        
          

        

    </div>
        


{% endblock %}