{% extends "base_logged_in.html" %}
{% block content %}
{% if channel_lists %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for channel_list in channel_lists %}
                <tr>
                    <td>{{ channel_list.Name }}</td>
                    <td>
                        <a class="btn btn-primary" href="/sound/channellist?channel_list={{ channel_list.ID }}&action=edit"
                        role="button">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" href="/sound/?channel_list={{ channel_list.ID }}&action=delete&job={{ job_nr }}"
                        role="button">Delete</a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>

        </table>
    {% endif %}


{% endblock %}